.inputBox input{
    border-radius: 5px;
    border: 1px solid black;
    height: 20px;
    width: 80%;
    margin-top: 10px;
}

.inputBox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.inputBox textarea{
    border-radius: 5px;
    border: 1px solid black;
    height: 60px;
    width: 80%;
    margin-top: 10px;
}

.experienceSection{
    display: flex;
    flex-direction: column;
}

.experienceSection button{
    margin-top: 10px;
    align-self: center;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 5px;
    padding: 5px 10px;
}

.addButton {
    color: darkblue
}